

html {
    background-color: rgb(221, 221, 221);
    text-align: center;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid #999;
    height: 100vh;
    border-radius: 10px;
}

body {
    height: 99vh;
    border-radius: 10px;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 0;  
    background: transparent;  
    height: 100vh;
}

::-webkit-scrollbar-thumb {
    background: transparent;
}

.list-card {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
